.amap-container {
	position: relative;
	height: 100%;
	overflow: hidden;
	background: #F7F9FB;
	-ms-touch-action: none
}
.amap-maps, .amap-layers, .amap-layer, .amap-tile, .amap-tile-container {
	position: absolute;
	left: 0;
	top: 0
}
.amap-statics, .amap-context {
	position: absolute;
	left: 0;
	top: 0
}
.amap-overlays, .amap-graph, .amap-markers, .amap-marker, .amap-ground, .amap-ground img {
	position: absolute;
	left: 0;
	top: 0
}
.amap-layers {
	z-index: 100
}
.amap-overlays {
	z-index: 110
}
.amap-markers, .amap-info, .amap-ground {
	z-index: 120
}
.amap-statics {
	z-index: 140
}
.amap-controls {
	z-index: 150
}
.amap-maps, .amap-layers, .amap-layer, .amap-overlays, .amap-markers, .amap-info, .amap-statics, .amap-controls, .amap-ground {
	overflow: visible
}
.amap-marker, .amap-icon {
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}
.amap-copyright {
	position: absolute;
	left: 74px;
	height: 16px;
	bottom: 0;
	font-size: 11px;
	font-family: Arial, sans-serif;
	z-index: 160;
	white-space: nowrap
}
.amap-show {
	visibility: visible
}
.amap-hide {
	visibility: hidden
}
.amap-tile, .amap-marker-icon, .amap-marker-shadow {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none
}
.amap-tile {
	filter: inherit;
	visibility: hidden
}
.amap-tile-loaded {
	visibility: inherit
}
.amap-fade-anim .amap-tile, .amap-fade-anim .amap-info {
	opacity: 0;
	-webkit-transition: opacity .2s linear;
	-moz-transition: opacity .2s linear;
	-o-transition: opacity .2s linear;
	transition: opacity .2s linear
}
.amap-fade-anim .amap-tile-loaded, .amap-fade-anim .amap-overlays .amap-info {
	opacity: 1
}
.amap-zoom-anim .amap-zoom-animated {
	-webkit-transition: -webkit-transform .25s cubic-bezier(0, 0, .25, 1);
	-moz-transition: -moz-transform .25s cubic-bezier(0, 0, .25, 1);
	-o-transition: -o-transform .25s cubic-bezier(0, 0, .25, 1);
	transition: transform .25s cubic-bezier(0, 0, .25, 1)
}
.amap-zoom-anim .amap-tile, .amap-pan-anim .amap-tile, .amap-touching .amap-zoom-animated {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none
}
.amap-zoom-anim .amap-zoom-hide {
	visibility: hidden
}
.amap-logo {
	width: 67px;
	height: 16px;
	position: absolute;
	left: 2px;
	bottom: 0;
	z-index: 160
}
.amap-icon {
	position: relative;
	z-index: 1;
	overflow: hidden
}
.amap-icon img {
	position: absolute;
	z-index: -1
}
.amap-marker area {
	outline: 0
}
.amap-info, .amap-menu {
	position: absolute;
	left: 0;
	z-index: 140
}
.amap-info div.amap-info-shadow {
	position: absolute;
	bottom: -21px;
	left: 40px
}
.amap-info-shadow div {
	position: absolute;
	background-image: url(./iws.png);
	z-index: -1
}
.amap-info-close {
	position: absolute;
	right: 5px;
	top: 5px;
	color: #C3C3C3;
	text-decoration: none;
	font: 700 16px/14px Tahoma, Verdana, sans-serif;
	width: 14px;
	height: 14px
}
.amap-info-outer, .amap-menu-outer {
	box-shadow: 0 3px 14px rgba(0,0,0,.5);
	background: none repeat scroll 0 0 #fff;
	border-radius: 5px;
	padding: 1px;
	text-align: left;
	border: silver solid 1px
}
.amap-info-outer:hover, .amap-menu-outer:hover {
	box-shadow: 0 3px 14px rgba(0,0,0,.75)
}
.amap-info-content {
	width: 300px;
	margin: 10px;
+margin:0 10px;
+padding:10px 0;
	line-height: 1.4;
	overflow: auto
}
.amap-info {
	width: 320px
}
.amap-menu {
	_width: 100px
}
.amap-info-sharp {
	height: 23px;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	bottom: -22px;
	width: 30px;
	background-image: url(./sharp.png);
	_background-image: url(./sharp.gif)
}
.amap-menu-outer {
	margin: 0;
	padding: 0;
	list-style-type: none
}
ul.amap-menu-outer li {
	height: 25px;
	line-height: 25px;
	word-break: break-all;
	white-space: nowrap;
	font-size: 12px;
	padding: 5px 10px;
	cursor: pointer
}
ul.amap-menu-outer li:hover {
	background-color: #F3F3EE
}
.amap-menu-split {
	border-bottom: #ccc solid 1px
}
.amap-menu-cp {
	font-size: 10px
}
.amap-zoom-touch-plus {
	position: absolute;
	right: -10px;
	bottom: -10px;
	z-index: 500;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	border: solid 1px #7e7b74;
	background-color: rgba(255,255,255,.5)
}
.amap-zoom-touch-plus>div {
	width: 29px;
	height: 30px;
	margin: 6px 0 0 5px;
	background-repeat: no-repeat;
	background-color: transparent;
	background: url(./touchtools.png);
	background-origin: padding-box;
	background-size: 140px 32px;
	background-position: -54px -1px
}
.amap-zoom-touch-minus {
	position: absolute;
	right: -10px;
	bottom: -60px;
	z-index: 500;
	width: 40px;
	height: 40px;
	background-color: rgba(255,255,255,.5);
	border-radius: 5px;
	border: solid 1px #7e7b74
}
.amap-zoom-touch-minus>div {
	width: 29px;
	height: 30px;
	margin: 6px 0 0 5px;
	background-repeat: no-repeat;
	background-color: transparent;
	background: url(./touchtools.png);
	background-origin: padding-box;
	background-size: 140px 32px;
	background-position: -82px -1px
}
.amap-toolbar, .amap-scalecontrol, .amap-overviewcontrol {
	z-index: inherit
}
.amap-toolbar {
	position: absolute;
	width: 52px;
	height: 250px;
	overflow: visible
}
.amap-pancontrol {
	width: 52px;
	height: 52px;
	background: url(./map_view.png);
	_background: url(./map_view.gif);
	background-position: 0 -140px;
	position: absolute
}
.amap-pan-left, .amap-pan-top, .amap-pan-right, .amap-pan-bottom {
	position: absolute;
	cursor: pointer
}
.amap-pan-left, .amap-pan-right {
	width: 12px;
	height: 18px;
	top: 17px
}
.amap-pan-top, .amap-pan-bottom {
	width: 18px;
	height: 12px;
	left: 17px
}
.amap-pan-left {
	left: 8px
}
.amap-pan-right {
	left: 32px
}
.amap-pan-top {
	top: 8px
}
.amap-pan-bottom {
	top: 31px
}
.amap-pan-left:hover, .amap-pan-top:hover, .amap-pan-right:hover, .amap-pan-bottom:hover {
	background: url(./map_view.png);
	_background: url(./map_view.gif)
}
.amap-pan-left:hover {
	background-position: -52px -110px
}
.amap-pan-top:hover {
	background-position: -70px -112px
}
.amap-pan-right:hover {
	background-position: -61px -110px
}
.amap-pan-bottom:hover {
	background-position: -84px -110px
}
.amap-zoomcontrol {
	width: 24px;
	position: absolute
}
.amap-zoom-plus, .amap-zoom-minus, .amap-zoom-cursor, .amap-zoom-label-street, .amap-zoom-label-city, .amap-zoom-label-province, .amap-zoom-label-country {
	background: url(./map_view.png);
	_background: url(./map_view.gif);
	cursor: pointer
}
.amap-zoom-ruler, .amap-zoom-mask {
	background: url(./toolbar_rbg.png);
	cursor: pointer
}
.amap-zoom-ruler {
	overflow: visible
}
.amap-zoom-plus, .amap-zoom-minus {
	width: 24px;
	height: 21px
}
.amap-zoom-plus {
	background-position: 0 -217px
}
.amap-zoom-plus:hover {
	background-position: 0 -194px
}
.amap-zoom-minus {
	background-position: -26px -224px
}
.amap-zoom-minus:hover {
	background-position: -26px -195px
}
.amap-zoom-ruler {
	width: 12px;
	height: 147px;
	position: relative;
	left: 6px;
	background-position: 0 0
}
.amap-zoom-mask, .amap-zoom-cursor, .amap-zoom-labels, .amap-zoom-label-street, .amap-zoom-label-city, .amap-zoom-label-province, .amap-zoom-label-country {
	position: absolute
}
.amap-zoom-mask {
	width: 12px;
	height: 106px;
	background-position: -14px 0
}
.amap-zoom-cursor {
	width: 24px;
	height: 20px;
	left: -6px;
	top: 106px;
	background-position: -127px -164px
}
.amap-zoom-cursor:hover {
	background-position: -127px -141px
}
.amap-zoom-labels {
	display: none
}
.amap-zoom-label-street, .amap-zoom-label-city, .amap-zoom-label-province, .amap-zoom-label-country {
	width: 39px;
	height: 31px;
	left: 20px
}
.amap-zoom-label-street {
	top: 0;
	background-position: -87px -140px
}
.amap-zoom-label-city {
	top: 54px;
	background-position: -87px -171px
}
.amap-zoom-label-province {
	top: 92px;
	background-position: -87px -203px
}
.amap-zoom-label-country {
	top: 129px;
	background-position: -87px -235px
}
.amap-locate {
	position: absolute;
	width: 18px;
	height: 18px;
	background: url(./map_view.png);
	_background: url(./map_view.gif);
	background-position: -130px -185px;
	cursor: pointer
}
.amap-scalecontrol {
	position: absolute
}
.amap-scale-text {
	text-align: center;
	font-size: 10px
}
.amap-scale-line {
	position: relative;
	height: 8px
}
.amap-scale-edgeleft, .amap-scale-middle, .amap-scale-edgeright {
	position: absolute;
	background: #333;
	overflow: hidden
}
.amap-scale-edgeleft, .amap-scale-edgeright {
	width: 1px;
	height: 6px;
	border: solid 1px #fff
}
.amap-scale-middle {
	height: 2px;
	left: 2px;
	top: 2px;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #fff
}
.amap-overviewcontrol {
	width: 120px;
	height: 120px;
	background: #fff;
	position: absolute;
	right: 0;
	bottom: 0
}
.amap-overview-main {
	width: 115px;
	height: 115px;
	position: absolute;
	left: 5px;
	top: 5px;
	overflow: hidden
}
.amap-overviewcontrol, .amap-overview-main {
	border-top: solid 1px #ccc;
	border-left: solid 1px #ccc
}
.amap-overview-map {
	position: absolute
}
.amap-overview-button {
	width: 17px;
	height: 17px;
	position: absolute;
	right: 0;
	bottom: 0;
	background: url(./mapcontrols.png);
	background-position: -40px -386px;
	cursor: pointer
}
.amap-overview-win {
	width: 62px;
	height: 35px;
	background: #91a3d8;
	opacity: .25;
	filter: alpha(opacity=25);
	border: solid 2px #44b;
	position: absolute;
	top: 40px;
	left: 26px;
	cursor: move
}
.amap-maptypecontrol {
	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 304
}
.amap-maptype-wrap {
	position: absolute;
	top: 0;
	right: 0;
	width: 64px;
	height: 64px
}
.amap-maptype-con {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	background: #fff;
	border: solid 1px #ccc;
	cursor: pointer
}
.amap-maptype-win {
	position: absolute;
	top: 1px;
	right: 1px;
	width: 56px;
	height: 56px;
	overflow: hidden;
	background: #ccc;
	border: solid 1px #ccc
}
.amap-maptype-title {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 20px;
	color: #333;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	background: #fff
}
.amap-maptype-title:hover {
	background-color: #eee
}
.amap-maptype-list {
	position: absolute;
	top: 64px;
	right: 0;
	width: 100px;
	background: #fff;
	border: solid 1px #ccc;
	overflow: hidden
}
.amap-maptype-list p {
	width: 100px;
	height: 20px;
	margin: 0;
	cursor: pointer;
	background: #fff
}
.amap-maptype-lsit p:hover {
	background: #eee
}
.amap-maptype-check {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 2px;
	background: url(./maptype-bg.png) no-repeat -30px 4px
}
.amap-maptype-checked {
	background-position: 0 4px
}
.amap-maptype-check-hover {
	background-position: -15px 4px
}
.amap-maptype-label {
	display: inline-block;
	width: 60px;
	height: 15px;
	color: #333;
	font-size: 12px;
	line-height: 15px;
	margin-left: 10px
}
.amap-ranging-label {
	font-size: 12px;
	background: #fff;
	border: solid 1px #ccc;
	padding: 3px 7px 3px 2px;
	white-space: nowrap
}
.amap-ranging-label span {
	height: 12px;
	vertical-align: center;
	display: inline-block;
	white-space: nowrap;
	margin-left: 5px
}
